.folder {
    width: 140px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}

.menuItem {
    cursor: pointer;
}

.menuItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}