.tray {
    width: 320px;
    border-right: 1px solid #bababa;
    position: absolute;
    left: 140px;
    top: 0;
    height: 100%;
}

.scrollarea{
    overflow-y: auto;
    max-height: calc(100% - 50px);
}